.header {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    flex-direction: row;
    align-items: center;
    margin-bottom: 100px;
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

img {
    height: 250px;
    width: 500px;
}

.main-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 100px;
    padding: 50px;
    padding-bottom: 100px;
    
}

.left-info {
    display: flex;
    flex-direction: column;
    padding: 35px;
    height: 250px;
    width: 400px;
}

.right-info {
    display: flex;
    flex-direction: column;
    padding: 25px;
    padding-left: 20px;
}

.button {
    height: 30px;
    width: 100px;
    border-radius: 10px;
    border-style: none;
    background-color: #3882F6;
    color: white;
}

.card-header {
    text-align: center;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
    margin-top: 80px;
    padding-bottom: 80px;
}

.one-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 130px;
}

.card {
    height: 135px;
    width: 130px;
    border-color: #3882F6;
    border-width: 3px;
    border-style: solid;
    border-radius: 15px;
}

.quote-banner {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

.quote {
    height: 100px;
    width: 500px;
}

.second-quote {
    display: flex;
    justify-content: end;
}